body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(/img/dep.png) no-repeat center center fixed;
    background-size: 100%;
  }
  
  .container {
    background-color: rgba(194, 145, 234, 0.81);
    border: 2px solid black;
    padding: 40px;
    width: 600px;
    text-align: center;
    border-radius: 15px;
  }
  
  input[type="text"] {
    height: 25px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .todo {
    color: rgb(28, 33, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #faf5f5;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s;
  }
  
  .todo.hovered {
    background-color: rgba(200, 200, 255, 0.5);
  }
  
  .todo.done-hovered {
    background-color: rgba(228, 236, 228, 0.489);
  }
  
  .task-span {
    flex: 1;
    text-align: left;
    cursor: pointer;
  }
  
  .done {
    text-decoration: line-through;
    color: rgb(36, 101, 55);
  }
  
  .delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .checkbox {
    margin-left: 10px;
  }
  
  .notification {
    color: rgb(180, 191, 180);
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(143, 147, 143, 0.911);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(100% - 40px);
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  